.accordTitle {
    font-weight: bold;
}
.accordDescription {
    width: 250px;
}

.completeButton {
    color: #fff;
    max-height: 30px;
    background: #254038;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.choretitle {
    background-color: rgb(12, 151, 24);
    padding: .5em;
    color: #fff;
}

.nameTitle {
    background-color: cornflowerblue;
    padding: .5em;
    color: #fff;
}

.catTitle {
    background-color: rgb(109, 21, 112);
    padding: .5em;
    color: #fff;
}
