.accordTitle {
    font-weight: bold;
}
.accordDescription {
    width: 250px;
}

.completeButton {
    color: #fff;
    max-height: 30px;
    background: #254038;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}