.assignChores {
    height: 700px;
    button {
        min-width: 40%;
      }
}

.assignment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}

.unassignedContainer {
    margin-top: 12px;
    border: 1 px solid #000;
    display: flex;
    flex-wrap: wrap;
  
    .assignedtonoone {
        font-weight: bold;
        background-color: palevioletred;
        border-radius: 25px;
        padding: .2em;
        margin: .1em
      }
}

.myAssignedContainer {
    margin-top: 12px;
    border: 1 px solid #000;
    display: flex;
    flex-wrap: wrap;
    .assignedtome {
        font-weight: bold;
        background-color: lightblue;
        border-radius: 25px;
        padding: .2em;
        margin: .1em
      }
}

.assigntitle {
    margin: 40px 0 auto;
    background-color:rgb(67, 174, 201);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div > div > svg {
    background-color: rgb(165, 29, 29);
    color: white;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div > div > div:nth-child(3) {
    background-color: rgb(165, 29, 29);
    color: white;
}

body > div:nth-child(6) > div > div.modal.fade.show > div > div > div.modal-body > div > form > div.assignForm > div:nth-child(3) {
    background-color: rgb(165, 29, 29);
    color: white;
}



