/* image helpers */@at-root
.smallImageHolder {
padding: 12px;
color: #fff;
border-radius: 20px;
}

.smallImage {
width: 80%;
height: auto;
border-radius: 20px;
text-shadow: 2px 2px #000;
}

.smallFrame {
padding: 12px;
color: #000;
}