.splash {
    margin: 50px auto;
    text-align: center;
    height: 780px;
     img {
        border-radius: 20px;
        float: left;
        width:  110%;
        height: 95%;
        margin: 2 2em 2.5em;
        object-fit: cover;
        filter: drop-shadow(5px 10px 4px #000);
    }

}

.splash-title {
    position: relative;
    img {
        position: absolute;
        top: 25%;
        left: 5%;
        height: 48%;
        width: 97%;
        filter: drop-shadow(6px 6px 2px #4444dd);
    }
    img:hover {
        opacity: .5;
        background-color: #fff;
    }
}

.splash-title > div {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
