.smallFrame {
    position: relative;
    img {
        display: block;
        object-fit: cover;
        width: 200px;
        height: 200px;
        border: 2px solid #fff;
    }
}
.deletePosition {
    position: absolute;
    font-weight: bold;
    top: 168px;
    right: 23px;
    height: 37px;
    width: 38px;
    opacity: 90%;
    background: transparent !important;
    border: 2px solid white !important;
}

.number {
    color: white;
    position: absolute;
    top: 170px;
    left: 25px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    width: 35px;
    height: 34px;
    border-radius: 20px;
}

.deletePosition:hover {
    background-color: #fff !important;
    color: #000;
}
