@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import './components/';
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

html {
  background: rgba(65,49,180,1);
}

body {
  color: black;
  font-family: 'Work Sans', sans-serif;
  background: rgb(218,235,250);
  background: linear-gradient(162deg, rgba(218,235,250,1) 4%, rgba(218,235,250,1) 7%, rgba(39,132,222,1) 40%, rgba(65,49,180,1) 100%);
}
