USE [master]
GO
/****** Object:  Database [Household]    Script Date: 5/29/2021 2:00:45 PM ******/
CREATE DATABASE [Household]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Household', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Household.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Household_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Household_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Household].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Household]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Week] [int] NOT NULL,
	[IsCompleted] [bit] NULL,
	[Rating] [int] NULL,
	[ChoreId] [int] NOT NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chores]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Description] [varchar](max) NULL,
	[HouseHoldId] [int] NULL,
 CONSTRAINT [PK_Chores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Household]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Household](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Household] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Household_User]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Household_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[HouseholdId] [int] NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_Household_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[ChoreId] [int] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/29/2021 2:00:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [varchar](50) NULL,
	[Lastname] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[FirebaseKey] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([Id], [UserId], [Week], [IsCompleted], [Rating], [ChoreId]) VALUES (1, 1, 1, 0, NULL, 1)
INSERT [dbo].[Assignments] ([Id], [UserId], [Week], [IsCompleted], [Rating], [ChoreId]) VALUES (2, 1, 1, 0, NULL, 2)
INSERT [dbo].[Assignments] ([Id], [UserId], [Week], [IsCompleted], [Rating], [ChoreId]) VALUES (3, 1, 1, 0, NULL, 3)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Chores] ON 

INSERT [dbo].[Chores] ([Id], [Name], [Category], [Description], [HouseHoldId]) VALUES (1, N'Floor', N'1', N'Please move chairs and sweep all areas. Mop if its tuesday or thursday.', NULL)
INSERT [dbo].[Chores] ([Id], [Name], [Category], [Description], [HouseHoldId]) VALUES (2, N'Counters', N'1', N'Wet rag should suffice, be sure to clean stove as well.', NULL)
INSERT [dbo].[Chores] ([Id], [Name], [Category], [Description], [HouseHoldId]) VALUES (3, N'Wash dishes', N'1', N'Dishes should be cleaned, and added to dishwasher.', NULL)
SET IDENTITY_INSERT [dbo].[Chores] OFF
GO
SET IDENTITY_INSERT [dbo].[Household] ON 

INSERT [dbo].[Household] ([Id], [Name]) VALUES (1, N'Kotheimer')
SET IDENTITY_INSERT [dbo].[Household] OFF
GO
SET IDENTITY_INSERT [dbo].[Household_User] ON 

INSERT [dbo].[Household_User] ([Id], [UserId], [HouseholdId], [IsConfirmed]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Household_User] ([Id], [UserId], [HouseholdId], [IsConfirmed]) VALUES (2, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Household_User] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Firstname], [Lastname], [Email], [FirebaseKey]) VALUES (1, N'Will', N'Kotheimer', N'wkotheimer@gmail.com', N'1')
INSERT [dbo].[User] ([Id], [Firstname], [Lastname], [Email], [FirebaseKey]) VALUES (2, N'Rachel', N'Kotheimer', N'rkotheimer@gmail.com', N'2')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Chores] FOREIGN KEY([ChoreId])
REFERENCES [dbo].[Chores] ([Id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Chores]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_User]
GO
ALTER TABLE [dbo].[Chores]  WITH CHECK ADD  CONSTRAINT [FK_Chores_Chores] FOREIGN KEY([Id])
REFERENCES [dbo].[Chores] ([Id])
GO
ALTER TABLE [dbo].[Chores] CHECK CONSTRAINT [FK_Chores_Chores]
GO
ALTER TABLE [dbo].[Chores]  WITH CHECK ADD  CONSTRAINT [FK_Chores_Household] FOREIGN KEY([HouseHoldId])
REFERENCES [dbo].[Household] ([Id])
GO
ALTER TABLE [dbo].[Chores] CHECK CONSTRAINT [FK_Chores_Household]
GO
ALTER TABLE [dbo].[Household_User]  WITH CHECK ADD  CONSTRAINT [FK_Household_User_Household] FOREIGN KEY([HouseholdId])
REFERENCES [dbo].[Household] ([Id])
GO
ALTER TABLE [dbo].[Household_User] CHECK CONSTRAINT [FK_Household_User_Household]
GO
ALTER TABLE [dbo].[Household_User]  WITH CHECK ADD  CONSTRAINT [FK_User_Household] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Household_User] CHECK CONSTRAINT [FK_User_Household]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Chores] FOREIGN KEY([ChoreId])
REFERENCES [dbo].[Chores] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Chores]
GO
USE [master]
GO
